* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vH;
    background-color: #333;
    color: white;
}

.image-box {
    overflow: hidden;
}

.zoom-img {
    cursor: zoom-in;
    transform: scale(2);
}